@tailwind base;
@tailwind components;
@tailwind utilities;
root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --light-text: #073d47;
  --light-background: #bbe0e2;
  --light-primary: #12c7ed;
  --light-secondary: #9eecff;
  --light-accent: #ff44ef;

  --dark-light-text: #bbe0e2;
  --dark-background: #073d47;
  --dark-primary: #12c7ed;
  --dark-secondary: #000405;
  --dark-accent: #d603c5;
}

::selection {
  background: #ff44ef;
  color: #bbe0e2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}
.main {
  @apply w-screen min-h-screen fixed flex justify-center pointer-events-none px-6 py-32 before:bg-[url('../assets/images/map.svg')] before:bg-center before:bg-cover before:bg-no-repeat before:bg-light-background before:absolute before:content-[""] before:z-[2] before:w-full before:h-full before:top-0 dark:before:bg-[url('../assets/images/map_whiteLines.svg')] dark:before:bg-dark-background;
}

.border-radius-8 {
  border-radius: 8px;
}

.tracking-tighter-custom {
  letter-spacing: -24px;
}

.section_and_padding {
  min-height: 100vh;
  padding: 4rem 6rem;
}
