@tailwind base;
@tailwind components;
@tailwind utilities;
root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* mejor dejar esto aqui y si queremos utilizar los colores que queremos en dark entonces los ponemos aqui */
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
/* <link href="https://api.fontshare.com/v2/css?f[]=pally@400,700,500&display=swap" rel="stylesheet"> */
/* font-family: 'Pally', sans-serif; */

/* <link href="https://api.fontshare.com/v2/css?f[]=kola@400&display=swap" rel="stylesheet" /> */
/* font-family: 'Kola', sans-serif; */

/* 
#845EC2
#009EFA
#00D2FC
#4FFBDF */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.dropdown {
	@apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end border-2;
}

.dropdown_link {
	@apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}

.app {
	@apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 120px 24px 160px 24px;
	pointer-events: none;
}

.gradient {
	min-width: 100%;
	height: 100vh;
	background: #00b4db; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #0083b0, #00b4db);
	background: linear-gradient(to top, #0083b0, #00b4db);

	filter: blur(150px) saturate(150%);
	/* opacity: 0.15; */
}

/* .blue_gradient {
	@apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
} */
.gradient__text {
	/* background: linear-gradient(0deg, #ff227e 69%, #e8218e 100%); */
	/* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* ============ Background fish and balls ============== */
@keyframes move {
	100% {
		transform: translate3d(0, 0, 1px) rotate(360deg);
	}
}

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	/* background: linear-gradient(to top, #00779f, #00b4db);
	 */
	 background: #BBE0E2 ;
	overflow: hidden;
}


/* ============================================== */
