@tailwind base;
@tailwind components;
@tailwind utilities;
root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --light-text: #073d47;
  --light-background: #bbe0e2;
  --light-primary: #12c7ed;
  --light-secondary: #9eecff;
  --light-accent: #ff44ef;

  --dark-light-text: #bbe0e2;
  --dark-background: #073d47;
  --dark-primary: #12c7ed;
  --dark-secondary: #000405;
  --dark-accent: #d603c5;
}

::selection {
  background: #ff44ef;
  color: #bbe0e2;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(198, 198, 198);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 147, 147);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* max-w-7xl mx-auto */
.custom-x-padding{
  @apply sm:px-16 px-6
}
.app {
  /* @apply relative z-10 flex justify-center items-center flex-col ; */
}
.main {
  @apply w-screen min-h-screen fixed flex justify-center pointer-events-none px-6 py-32

   before:bg-[url('../assets/images/map.svg')] before:bg-center before:bg-cover before:bg-no-repeat before:bg-light-background before:absolute before:content-[""] before:z-[2] before:w-full before:h-full before:top-0 
   
   dark:before:bg-[url('../assets/images/map_whiteLines.svg')] dark:before:bg-dark-background;
}
.stroke-text {
  color: rgb(240, 215, 25);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bg-blob {
  @apply bg-[url('../public/assets/dark-blob.svg')] bg-center bg-no-repeat pointer-events-none bg-contain dark:bg-[url('../public/assets/light-blob.svg')] w-full 
  h-[80vh] md:h-[100vh];
}

.bg-footer {
  @apply /* dark:bg-light-background  */
  after:bg-[url('../public/assets/svg/layered-waves-haikei.svg')] 
  after:dark:bg-[url('../public/assets/svg/layered-waves-haikei-light.svg')] 

  after:content-[""]
  after:absolute 
  after:bottom-0 after:left-0
  after:w-full after:h-full

  after:-z-10
  md:after:bg-cover
  after:bg-bottom
  after:bg-no-repeat;
}


.bg-curves {
  @apply after:bg-[url('../public/assets/curves/curves-light-vertical.svg')]
  after:dark:bg-[url('../public/assets/curves/curves-dark-vertical.svg')] 
  md:after:bg-[url('../public/assets/curves/curves-light.svg')]
  md:after:dark:bg-[url('../public/assets/curves/curves-dark.svg')]

  after:content-[""]
  after:-z-50
  after:absolute 
  after:bottom-0 after:left-0
  after:w-full after:h-full
  after:bg-top after:bg-cover 
  after:bg-no-repeat


}

.bg-curves-rotate {
  @apply after:bg-[url('../public/assets/curves/curves-light-vertical.svg')]
  after:dark:bg-[url('../public/assets/curves/curves-dark-vertical.svg')] 
  md:after:bg-[url('../public/assets/curves/curves-light.svg')]
  md:after:dark:bg-[url('../public/assets/curves/curves-dark.svg')]

  after:-scale-y-100
  after:content-[""]
  after:-z-50
  after:absolute 
  after:bottom-0 after:left-0
  after:w-full after:h-full
  after:bg-top after:bg-cover 
  after:bg-no-repeat

}

.img_map {
  width: 100%;
  height: 100%;
}
.border-radius-8 {
  border-radius: 8px;
}

.tracking-tighter-custom {
  letter-spacing: -14px;
}

.section {
  min-height: 100vh;
}
/* 4 top 2 bot */

.custom-padding {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
